.bu{
    position: static;
}
.au{
    /* background-image: url("E:\anima3.gif"); */
    background-image: url("https://static.tildacdn.com/tild6261-3364-4637-a533-383932646565/anima3.gif");
    /* background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=FpwRKT9c&id=7C6F5208D2925B9B1271CC0FC3C607F09FCAC6D8&thid=OIP.FpwRKT9cCKMl7hu8ig1MuAHaFj&mediaurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f1138853%2fscreenshots%2f4834993%2f06_08_gif.gif&exph=600&expw=800&q=employee+management+system+gif&simid=608047093335852793&FORM=IRPRST&ck=C579035E1F54FB2BAD2D5D39624FC198&selectedIndex=2"); */
    height:82vh;
    margin-left: 300px;
    margin-top: 3px;
    width:120vh;
    justify-content: center;
    align-items:center;
    display:flex;
    position: relative;
    background-position: -350px 0px;
    object-position: 80% 100%;
}
.btn{
    background-color: blue;
    text-align: center;
    padding: 10px;
    margin-left: 40px;
    text-decoration: none;
    color: white;
  }
