.ll{
    /* background-image: url('https://e1.pxfuel.com/desktop-wallpaper/543/782/desktop-wallpaper-employee-management-systems-consulting-employee.jpg'); */
    /* background-image: url('https://github.githubassets.com/images/modules/site/home-campaign/astrocat.png'); */
    background-image: url('C:\Users\MEGHANA\OneDrive\Pictures\Screenshots\Benny.jpg');
    background-size: cover;
    height: 100vb;
} 